language: node_js
node_js:
  - 16.15.1
cache: 
  - node_modules
  - yarn

install:
  - yarn install
  - travis_wait 30

script:
  - yarn start build

deploy:
  provider: pages
  skip_cleanup: true
  token: $GITHUB_TOKEN
  on:
    branch: main
