<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806253104407-s2audkeuks129cg0vdlof7g0n07gtjks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806253104407-s2audkeuks129cg0vdlof7g0n07gtjks</string>
	<key>API_KEY</key>
	<string>AIzaSyCyWc49I7TVla2Y2-xPpJgSzHeg5SPXAl8</string>
	<key>GCM_SENDER_ID</key>
	<string>806253104407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenix</string>
	<key>PROJECT_ID</key>
	<string>fenix-bd79c</string>
	<key>STORAGE_BUCKET</key>
	<string>fenix-bd79c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806253104407:ios:feb6e86914416a740cbb52</string>
</dict>
</plist>